<div style="height: 100%; width: 100%">

        <div class="item-list-menu"  routerLink="/app/movimentacoes" routerLinkActive="active" >
                <i class="material-icons icon">import_export</i>
            <p class="cor-letra"> Movimentações </p>
        </div>

        <div class="item-list-menu"  routerLink="/app/receitas" routerLinkActive="active" >
                <i class="material-icons icon">add_circle_outline</i>
            <p class="cor-letra"> Receitas </p>
        </div>

        <div class="item-list-menu"  routerLink="/app/despesas" routerLinkActive="active" >
                <i class="material-icons icon">remove_circle_outline</i>
            <p class="cor-letra"> Despesas </p>
        </div>

        <div class="item-list-menu" routerLink="/app/dashboards" routerLinkActive="active" >
                <i class="material-icons icon"> assessment</i>
            <p class="cor-letra"> Dashboard </p>
        </div>
       
</div>