<app-card [titulo]="getTitulo()" (fecharCardEvent)="fecharCadastroPessoas()">
	<form #form="ngForm" class="form" autocomplete="off" (ngSubmit)="salvar()">
		<div class="row-fields">
			<mat-form-field  class="form-item">
				<input matInput required placeholder="Nome" name="nome" [(ngModel)]="pessoa.nome">
			</mat-form-field>
	
			<mat-form-field class="form-item">
				<input matInput required placeholder="Documento" name="documento"  [(ngModel)]="pessoa.documento">
			</mat-form-field>
	
			<mat-form-field class="form-item">
				<input matInput required placeholder="Telefone" name="telefone"  [(ngModel)]="pessoa.telefone">
			</mat-form-field>
		</div>
		<div class="container-buttons">
			<button mat-raised-button type="submit" class="button-salvar" [disabled]="form.invalid">Salvar</button>
			<button mat-icon-button type="button" class="button-delete" *ngIf="pessoaEditando" (click)="deletarPessoa()"><i class="material-icons">delete</i></button>
		</div>
	</form>
</app-card>