/* theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

.container-lista {
    margin: auto;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: auto;
    width: 90%;
    margin-top: 30px;
}
