<div class="container-lista">
	<app-cadastro-pessoa *ngIf="exibirModalCadastroPessoa" 
						 (fecharCadastroPessoasEvent)="fecharCadastroPessoas()"
			             (atualizarListaPessoasEvent)="atualizarLista()">
	</app-cadastro-pessoa>

	<span>Pessoas</span>
	<div *ngFor="let pessoa of pessoas" >
		<mat-card *ngIf="!pessoa.editando" class="card">
			<div class="item"> {{pessoa.nome}}</div>
			<div class="item">{{pessoa.documento}}</div>
			<div class="item">{{pessoa.telefone}}</div>
			<button mat-icon-button class="button-edit" (click)="editarPessoa(pessoa)"><i class="material-icons">edit</i></button>
		</mat-card>

		<app-cadastro-pessoa *ngIf="pessoa.editando" 
						 [pessoaEditando]="pessoa"
						 (fecharCadastroPessoasEvent)="pessoa.editando = false"
			             (atualizarListaPessoasEvent)="atualizarLista()">
	    </app-cadastro-pessoa>
	</div>
</div>

<button mat-fab class="button-add" (click)="exibirCadastroPessoas()">
	<i class="material-icons">add</i>
</button>
